<section id="main-exchanger">
  <div class="amount-details">
    <div class="input-holder">
      <label for="amount">Amount</label>
      <input type="number" id="amount" name="amount" placeholder="50 $" />
    </div>

    <div class="exchange-rate">1.00 EUR = XX XX USD</div>
  </div>

  <div class="resualt-details">
    <div class="inputs">
      <div class="input-holder">
        <label for="from">From</label>
        <select name="form" id="form">
          <option value="usd">USD</option>
          <option value="eur">EUR</option>
        </select>
      </div>
      <img src="assets/images/arrow.webp" alt="arrow image" />

      <div class="input-holder">
        <label for="to">To</label>
        <select name="to" id="to">
          <option value="usd">USD</option>
          <option value="eur">EUR</option>
        </select>
      </div>
    </div>

    <button type="button" class="convert-btn main-transition">Convert</button>
    <div class="resault-container">
      <div class="resualt">XXXX USD</div>
      <button type="button" class="details-btn main-transition">Details</button>
    </div>
  </div>
</section>
